**/.venv
**/.git
.github
**/.idea
#**/node_modules
**/__pycache__/
**/*~
.dockerignore
docker-compose.yml
docker-compose-prod.yml
unemployment-docker.yml
unemployment-beta.yml
samples
errs
node_modules
