services:
  web:
    build:
      context: .
      dockerfile: ./config/web/Dockerfile.prod
      tags:
        - ${REGISTRY}/unemployment-web:${TAG}
        - ${REGISTRY}/unemployment-web:latest
    image: ${REGISTRY}/unemployment-web
    command: gunicorn unemployment.wsgi:application --bind 0.0.0.0:8000
    volumes:
      - static_volume:/var/www/unemployment/web/staticfiles
      - media_volume:/var/www/unemployment/web/mediafiles
    ports:
      - 8000:8000
    deploy:
      replicas: 1
      restart_policy:
        condition: on-failure
      placement:
        constraints:
          - node.hostname == ${DOCKER_NODE}
    secrets:
      - source: unemployment_env
        target: /var/www/unemployment/web/.env
        mode: 0400
        uid: '0'
        gid: '0'


  nginx:
    build:
      context: ./config/nginx
      dockerfile: Dockerfile
      tags:
        - ${REGISTRY}/unemployment-nginx:${TAG}
        - ${REGISTRY}/unemployment-nginx:latest
    image: ${REGISTRY}/unemployment-nginx
    volumes:
      - static_volume:/var/www/unemployment/web/staticfiles
      - media_volume:/var/www/unemployment/web/mediafiles
    ports:
      - 1337:80
    depends_on:
      - web
    deploy:
      replicas: 1
      restart_policy:
        condition: on-failure
      placement:
        constraints:
          - node.hostname == ${DOCKER_NODE}


volumes:
  static_volume:
  media_volume:


secrets:
  unemployment_env:
    external: true
