SECRET_KEY = 'some secret key 1234'
DATABASE_ENGINE='django.db.backends.postgresql_psycopg2'
DATABASE_NAME='unemployment'
DATABASE_USER='unemployment'
DATABASE_PASSWORD='some password'
DATABASE_HOST='db-server.example.com'
DATABASE_PORT='5432'
GOOGLE_API_KEY='AIpaSyCw4rmq7def4DZj'
GOOGLE_SPREADSHEET_ID='1cOvjpNSkhGWTTnqqOlA4rkh0IE2B8sJbQT0G72XcSdU'
