{% extends "master.html" %}

{% block title %}
Application Summary
{% endblock %}

{% block content %}
    <h1>Applications Summary</h1>
    <table id="applications-index" border="1">
    </table>
{% endblock %}

{% block js %}
$(document).ready(function(){
    AjaxDatatableViewUtils.initialize_table(
            $('#applications-index'),
            "{% url 'applications:ajax_datatable_applications' %}",
            {
                // extra_options
                processing: false,
                autoWidth: false,
                choices: true,
                full_row_select: false,
                scrollX: false
            }, {
                // extra_data
            },
        );
});
{% endblock %}