{% extends "master.html" %}

{% block title %}
Application Summary
{% endblock %}

{% block content %}
    <h1>Applications Summary</h1>
    <table id="jobapplications" border="1">
    </table>
{% endblock %}

{% block js %}
$(document).ready(function(){
    $('#jobapplications').DataTable({
        ajax: {
            url: '/api/jobapplications/',
            dataSrc: 'job_applications'
        },
        serverSide: true,
        processing: true,
        'columns': [
            {
                data: 'id',
                name: 'id',
                visible: false,
                searchable: false,
            },
            {
                data: 'when',
                name: 'when',
                title: 'When',
                width: '100px',
            },
            {
                data: 'company',
                name: 'company',
                title: 'Company',
                width: '300px',
            },
            {
                data: 'title',
                name: 'title',
                title: 'Job Title',
            },
            {
                data: 'active',
                name: 'active',
                title: 'Still active?',
                width: '100px',
            },
            {
                defaultContent: "Edit",
                name: 'edit',
                title: 'Actions',
                width: '100px',
                placeholder: true,
            }
        ],
        'order': [
            [ 0, 'desc' ],
        ],
    });
});
{% endblock %}