{% extends "master.html" %}
{% load static %}

{% block title %}
About this application
{% endblock %}

{% block content %}
    <h1>About this application</h1>

    <p>This application is Copyright &copy; 2024-2026 Douglas Wade Needham. See the
       <a href="https://github.com/cinnion/unemployment/blob/main/LICENSE">LICENSE</a> file for details.
    </p>

    <div>Build ID: {{ BUILD_INFO.BUILD_ID }} (Commit: {{ BUILD_INFO.GIT_COMMIT }}</div>
    <div>Build Number: {{  BUILD_INFO.BUILD_NUMBER }}</div>
    <div>Job Name: {{ BUILD_INFO.JOB_NAME }}</div>
    <div>Build URL: {{ BUILD_INFO.BUILD_URL }}</div>
    <div>Git Branch: {{ BUILD_INFO.GIT_BRANCH }}</div>
    <div>Last Built: {{ BUILD_INFO.BUILD_DATE }}</div>

{% endblock %}
